<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      
        <a class="navbar-brand" href="#">CAMPGROUND</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            
              <div class="navbar-nav">
                <a class="nav-link" href="/main">Home</a>
                <a class="nav-link" href="/main/new">New</a>
              </div>
              
              <div class="navbar-nav ms-auto">
                <% if(!isAuth) { %> 
                  <a class="nav-link" href="/users/register">Register</a>
                  <a class="nav-link" href="/users/login">Login</a>
                <% } else { %>
                  <a class="nav-link" href="/users/logout">Logout</a>
                <% } %>
              </div>

          </div>
    </div>
</nav>